<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Giphy Search App</title>
    <link rel="stylesheet" href="animate.css">

    <link rel="stylesheet" href="styles.css">

</head>
<body>
  <div class="container animated fadeIn">
    <center>
    {{{body}}}
    </center>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="scripts.js"></script>


  <script src="dist/wow.min.js"></script>
      <script>
       new WOW().init();
     </script>

</body>
</html>
